@font-face {
    font-family: montserrat;
    src: url('Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 43, 65);
    font-family: montserrat, sans-serif;
}

.container {
    background-color: rgb(73, 73, 117);
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: 5vh auto;
    display: flex;
    border-radius: 30px;
    padding: 20px;
}

.titulo {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.calculo {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

p,
input,
button,
span {
    font-size: 1.5rem;
    margin: 10px;
    color: white;
    width: 100%;
    max-width: 100%;
}

input,
button {
    border-style: none;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}

input {
    background-color: rgb(43, 43, 65);
    padding: 10px;
    font-size: 1.2rem;
    color: white;
}

button {
    transition: 0.3s;
    background-color: rgb(114, 114, 173);
    padding: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(173, 114, 173);
    font-size: 1.4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Responsividade para telas maiores */
@media (min-width: 768px) {
    .container {
        width: 50%;
        padding: 40px;
    }

    .titulo {
        font-size: 2.5rem;
    }

    p,
    input,
    button,
    span {
        font-size: 2rem;
        width: 80%;
    }

    button:hover {
        font-size: 2.2rem;
    }
}
