@font-face{
    font-family: montserrat;
    src: url('Montserrat-VariableFont_wght.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

.container{
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    width: 50%;
    background-color: rgb(235, 235, 235);
    img{
        height: 150px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    height: 80vh;
    margin: 10vh auto;
    input{
        height: 40px;
        width: 300px;
        padding: 10px;
        font-weight: bold;
    }

    button{
        height: 50px;
        width: 20%;
        border-radius: 10px;
        background-color: black;
        color: white;
        transition-duration: 0.3s;
    }

}

#logininvalido, #camposobrigatorios{
    display: none;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 20px;
}

input{
    border-radius: 10px;
    border-style: solid;
}

.input-group{
    width: 30%;
    padding: 10px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: white;
    color: black;
    height: 60px;
    transition-duration: 0.3s;
}