@font-face{
    font-family: arvo;
    src: url('fonte/Arvo-Regular.ttf')
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: arvo;
    color: white;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 613px;
}

label, input, button{
    font-size: 40px;
}

input, button{
    border-radius: 10px;
    border-style: solid;
}

button{
    background-color: orangered;
    border-color: white;
    transition: 0.3s;
}

button:hover{
    background-color: white;
    border: orangered;
    color: black;
}
p{
    font-size: 25px;
}

img{
    height: 300px;
}