*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(35, 36, 97);
}
.container{
    background-color: black;
    width: 60%;
    height: 80vh;
    margin: 10vh auto;
    color: white;
    background-color: rgb(70, 72, 192);
    border-radius: 20px;
    font-family: roboto, sans-serif;

    .titulo{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .moedas{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 60px;
        height: 70vh;
    }
    h1{
        font-size: 50px;
    }

    h3{
        font-size: 25px;
    }

    p{
        font-size: 30px;
    }

    .dol, .eur, .btc{
        gap: 2px;
    }
}



.separacao{
    width: 90%;
    height: 0.5px;
    background-color: white;
    margin: 5px;
}
