@font-face{
    font-family: fontesigma;
    src: url(Sigmar-Regular.ttf)
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fontesigma;
    background-color: black;
    color: orange;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 956px;
}

p{
    font-size: 100px;
}

label{
    font-size: 50px;
}

input{
    height: 50px;
    border-radius: 20px;
    padding: 10px;
}

button{
    height: 50px;
    width: 100px;
}

.botaosigma{
    border-radius: 10px;
    background-color: white;
}

.botaosigma:hover{
    background-color: greenyellow;
}

.result{
    font-size: 40px;
}