*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto{
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.botoes{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 2000px;
}

