@font-face{
    font-family: arvo;
    src: url('fonte/Arvo-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: arvo;
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

label, input, button {
    font-size: 24px; /* Reduzi para melhorar a usabilidade */
    margin: 10px 0;
}

input {
    width: 100%;
    max-width: 300px; /* Evita que fique muito grande */
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
}

button {
    background-color: orangered;
    border-color: white;
    transition: 0.3s;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    border: orangered;
    color: black;
}

p {
    font-size: 20px;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    margin-top: 20px;
}

/* Ajustes para telas menores */
@media (max-width: 480px) {
    label, input, button {
        font-size: 18px;
    }

    input {
        max-width: 250px;
    }

    button {
        padding: 8px 16px;
    }

    p {
        font-size: 18px;
    }
}
